@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./buttons.css";
@import "./forms.css";

body {
  margin: 0px;
  padding: 0px;
}

.app-container {
  @apply flex flex-wrap bg-gray-200 h-48 content-center justify-center h-screen -mb-10;
}

.card-container {
  @apply max-w-4xl rounded overflow-hidden shadow-lg;
  background: white;
}
